apiVersion: v1
kind: Secret
metadata:
  name: catalyst-sdwan-credentials
  namespace: awi-system
type: Opaque
data:
  username: "{CATALYST_SDWAN_USERNAME}"
  password: "{CATALYST_SDWAN_PASSWORD}"

---

apiVersion: v1
kind: Secret
metadata:
  name: gcp-credentials
  namespace: awi-system
type: Opaque
data:
  gcp-key.json: "{GCP_CREDS}"

---

apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
  namespace: awi-system
type: Opaque
data:
  credentials: "{AWS_CREDS}"

---

apiVersion: v1
kind: Secret
metadata:
  name: kube-config
  namespace: awi-system
type: Opaque
data:
  config: "{K8S_CTX}"

---

apiVersion: v1
kind: Secret
metadata:
  name: awi-ui-keys
  namespace: awi-system
type: Opaque
data:
  google_maps_api_key: "{GOOGLE_MAPS_API_KEY}"
  ip2_location_api_key: "{IP2LOCATION_API_KEY}"
